
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";


@import "datatables.net-bs5/css/dataTables.bootstrap5.css";
@import "datatables.net-buttons-bs5/css/buttons.bootstrap5.css";

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.navbar-nav .nav-link:hover {
    color: #dddddd;
    transition: background-color 0.3s ease;
}

.navbar-nav .nav-link.active {
    color: #dddddd;
}

.bg-app{
    background-color: #745f4e;
}
